# Entorno virtual
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Variables de entorno
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/

# Builds / distribución
build/
dist/
*.egg-info/

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/

# Sistema operativo
.DS_Store
Thumbs.db